*{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
.list-category{
    font-size: 2.5em;
   
    font-weight: bold;
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
    text-align: center;
    border: 3px solid black;
    border-radius: 15px;
    background-color: rgb(186, 113, 255) ;
}
.list-item li{
    font-size: 2em;
    list-style: none;
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 0;
}
.list-item li:hover{
  color: rgb(134, 134, 134);
}
.counter-container{
  text-align: center;
  width: 50%;
  height: 100vh;
  border: 10px solid rgba(0, 0, 0, 0.11);
}
.count-display{
  font-size: 7em;
}
.counter-button{
  width: 150px;
  height: 50px;
  font-size: 1.5em;
  font-weight: bold;
  color: white;
  background-color: brown;
  margin: 10px;
  border-radius: 10px;
}
.color-picker-container{
  display: flex;
  flex-direction: column;
  align-items: center;

}
.color-picker-container h1{
  margin: 50px;
  font-size: 3rem;
}
.color-display{
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid rgba(196, 196, 196, 0.63);
  border-radius: 25px;
  margin-bottom: 25px;
  transition: 0.25s ease;
}
.color-display p{
  color: rgb(231, 231, 231);
  font-size: 2rem;
  text-align: center;
}
label{
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

input[type="color"]{
  width: 75px;
  height: 50px;
  padding: 5px;
  border-radius: 10px;
  border: 3px solid rgb(197, 197, 197);
}
